@import '../lib.scss';

.Masthead {
  background-image: linear-gradient(to bottom, rgba(70, 110, 136, 0), #000), url('../images/masthead-background.jpg');
  background-position: center;
  background-size: cover;

  .inner {
    width: percentage(1268 / 1400);
    margin: 0 auto;
    padding: 64px 0;
  }

  h1 {
    @include adelle-semi-bold-regular;
    font-size: 4.8rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 0;
  }
}
