@import '../lib.scss';



.OptionBar {
  display: flex;
  justify-content: space-between;

  .box {
    border: 1px solid $dark-sand;
    padding: 0 18px;
    border-radius: 4px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .box-guests {
    width: percentage(264 / 1268);
  }

  .box-rooms {
    width: percentage(132 / 1268);
  }

  .box-beds {
    width: percentage(132 / 1268);
  }

  .box-dates {
    width: percentage(510 / 1268);
    display: flex;

    .box-inner {
      width: calc(50% - (24px / 2)); // split calendar width (24px)
    }
  }

  .box-inner {
    margin: 12px 0;
  }

  .label {
    @include brown-pro-light-regular;
    font-size: 1.2rem;
    margin-bottom: 6px;
    // line-height: 2.5rem;
    color: $black;
  }

  .value {
    @include adelle-normal-regular;
    font-size: 2rem;
    // line-height: 2.5rem;
    color: $black;
  }

  .check-in {
    position: relative;
    border-right: 1px solid #a9a9a9;
  }

  .check-out {
    padding-left: 36px;
  }

  .icon-caret-down {
    align-self: center;
    fill: $dark-sand;
  }

  .icon-calendar {
    width: 24px;
    height: 23px;
    align-self: center;
    fill: $black;
  }

  .search {
    @include adelle-normal-regular;
    font-size: 1.8rem;
    color: $white;
    background-color: $dark-sand;
    border: none;
    line-height: 65px;
    padding: 3px 0 0; // TODO: add horizontal padding for text wrap buffer
    border-radius: 4px;
    width: percentage(166 / 1268);

    &:hover {
      background-color: scale-color($dark-sand, $lightness: -25%);
    }
  }
}
