@import '../lib.scss';



.RoomResults {
  .results-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  h2 {
    @include adelle-normal-regular;
    font-size: 2.4rem;
    line-height: 1.5;
    color: $black;
  }

  .filters {
    p {
      @include adelle-normal-regular;
      font-size: 1.8rem;
      color: $black;
      padding-top: 11px;
    }
  }

  .room-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  .RoomCard {
    width: calc(#{percentage(1 / 3)} - (32px * (2 / 3)));
    margin: 0 32px 32px 0;

    &:nth-child(3) {
      margin-right: 0;
    }
  }
}
