@import '../lib.scss';



.RoomCard {
  background-color: $white;
  border: 1px solid #ededed;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

  .image {
    position: relative;
    background-color: #666;
    height: 144px;
    background-size: cover;
    background-position: center;
  }

  .ribbon {
    position: absolute;
    top: 16px;
    overflow: hidden;
    padding-right: 5%;

    &::before,
    &::after { // banner edges
      content: '';
      background-color: $pale;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 0;
      display: block;
    }

    &::before {
      top: 0;
      transform: rotate(-30deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(30deg);
    }

    p {
      @include adelle-normal-regular;
      font-size: 1.5rem;
      line-height: 2.5rem;
      padding: 0.3rem 1.4rem 0 1.8rem;
      color: $black;
      background-color: $pale;
      position: relative;
      z-index: 1; // move above banner edges
    }
  }

  .nav {
    width: 32px;
    height: 32px;
    position: absolute;
    top: percentage(62 / 144);

    &.nav-left {
      left: 0;
    }

    &.nav-right {
      right: 0;
    }
  }

  .icon-caret {
    fill: $white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .info {
    padding: 22px 23px 16px;
  }

  .type-rate {
    display: flex;
    min-height: 84px;
  }

  .type {
    @include adelle-normal-regular;
    font-size: 1.8rem;
    line-height: 1.333;
    color: $black;
    width: 60%;
    padding-top: 1px;
  }

  .rate {
    width: 40%;
    text-align: right;
  }

  .primary {
    margin-bottom: 14px;

    .amount {
      @include adelle-normal-regular;
      font-size: 2rem;
      line-height: 1.2;
      color: $black;
    }
  }

  .period {
    span {
      @include brown-pro-light-regular;
      font-size: 1rem;
      color: scale-color($black, $lightness: 10%);
      margin-right: 0.4rem;
    }
  }

  .icon-info {
    fill: #a0a0a0;
    width: 10px;
    height: 10px;
    vertical-align: top;
  }

  .secondary {
    .amount {
      @include adelle-normal-regular;
      font-size: 2rem;
      line-height: 1.2;
      text-decoration: line-through;
      color: scale-color($black, $lightness: 60%);
    }
  }

  .marketing-text {
    @include brown-pro-light-regular;
    font-size: 1rem;
    color: $black;
  }

  .capacity-size {
    display: flex;
  }

  .capacity {
    margin-right: 16px;

    span {
      @include adelle-light-regular;
      font-size: 1.5rem;
      line-height: 2;
      color: $black;
    }
  }

  .icon-person {
    fill: $black;
    width: 14px;
    height: 16px;
    margin-right: 0.8rem;
    vertical-align: text-bottom;
  }

  .size {
    @include adelle-light-regular;
    font-size: 1.5rem;
    line-height: 2;
    color: $black;
  }

  .beds {
    margin-bottom: 15px;

    span {
      @include adelle-light-regular;
      font-size: 1.5rem;
      line-height: 2;
      color: $black;
    }
  }

  .icon-bed {
    fill: $black;
    width: 16px;
    height: 13px;
    margin-right: 0.8rem;
    vertical-align: text-bottom;
  }

  .compare-select {
    display: flex;
    justify-content: space-between;
  }

  .compare {
    line-height: 4rem;

    .MuiSvgIcon-root {
      width: 2.2rem;
      height: 2.2rem;
    }

    .MuiFormControlLabel-label {
      @include adelle-normal-regular;
      font-size: 1.5rem;
      color: $black;
      letter-spacing: 0;
      padding-top: 5px;
    }

    // input[type="checkbox"] {
    //   margin-right: 1rem; // TODO: use a form component system to standardize styling
    // }
    //
    // label {
    //   @include adelle-normal-regular;
    //   font-size: 1.5rem;
    //   color: $black;
    // }
  }

  .select {
    @include adelle-normal-regular;
    font-size: 1.4rem;
    color: $white;
    background-color: $dark-sand;
    border: none;
    line-height: 38px;
    margin-top: 2px; // vertically align with compare checkbox
    padding: 0.2rem 1.8rem 0;
    border-radius: 2px;

    &:hover {
      background-color: scale-color($dark-sand, $lightness: -25%);
    }
  }
}
