@import '../lib.scss';



.RoomCard {
  background-color: $white;
  border: 1px solid #ededed;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

  .image {
    position: relative;
    background-color: #666;
    height: 144px;
  }

  .inclusive-banner {
    @include adelle-normal-regular;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 0.3rem 2.1rem 0;
    color: $black;
    background-color: $pale;
    position: absolute;
    top: 1.6rem;
  }

  .icon-chevron {
    color: $white;
    position: absolute;
    top: percentage(62 / 144);
    width: 32px;
    height: 32px;

    &.icon-chevron-left {
      left: 0;
    }

    &.icon-chevron-right {
      right: 0;
    }
  }

  .info {
    padding: 22px 23px 16px;
  }

  .type-rate {
    display: flex;
  }

  .type {
    @include adelle-normal-regular;
    font-size: 1.8rem;
    line-height: 1.333;
    color: $black;
    width: 60%;
  }

  .rate {
    width: 40%;
    text-align: right;
  }

  .discounted {
    margin-bottom: 14px;

    .amount {
      @include adelle-normal-regular;
      font-size: 2rem;
      line-height: 1.2;
      color: $black;
    }
  }

  .period {
    span {
      @include brown-pro-light-regular;
      font-size: 1rem;
      color: scale-color($black, $lightness: 10%);
      margin-right: 0.4rem;
    }
  }

  .icon-info-circle {
    color: #a0a0a0;
  }

  .full {
    .amount {
      @include adelle-normal-regular;
      font-size: 2rem;
      line-height: 1.2;
      text-decoration: line-through;
      color: scale-color($black, $lightness: 60%);
    }
  }

  .discount-percentage {
    @include brown-pro-light-regular;
    font-size: 1rem;
    color: $black;
  }

  .capacity-size {
    display: flex;
  }

  .capacity {
    margin-right: 16px;

    span {
      @include adelle-light-regular;
      font-size: 1.5rem;
      line-height: 2;
      color: $black;
    }
  }

  .icon-user {
    color: $black;
    width: 16px;
    height: 16px;
    margin-right: 0.8rem;
  }

  .size {
    @include adelle-light-regular;
    font-size: 1.5rem;
    line-height: 2;
    color: $black;
  }

  .beds {
    span {
      @include adelle-light-regular;
      font-size: 1.5rem;
      line-height: 2;
      color: $black;
    }
  }

  .icon-bed {
    color: $black;
    width: 16px;
    height: 16px;
    margin-right: 0.8rem;
  }

  .compare-select {
    display: flex;
    justify-content: space-between;
  }

  .compare {
    line-height: 4rem;

    input[type="checkbox"] {
      margin-right: 1rem; // TODO: use a form component system to standardize styling
    }

    label {
      @include adelle-normal-regular;
      font-size: 1.5rem;
      color: $black;
    }
  }

  .select {
    @include adelle-normal-regular;
    font-size: 1.4rem;
    color: $white;
    background-color: $dark-sand;
    border: none;
    line-height: 3.8rem;
    padding: 0.2rem 1.8rem 0;
    border-radius: 2px;
  }
}
