// Adelle

@font-face {
  font-family: 'Adelle-Light';
  src: url('./fonts/Adelle Light Regular.woff2') format('woff2'),
       url('./fonts/Adelle Light Regular.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Adelle-LightItalic';
  src: url('./fonts/Adelle Light Italic.woff2') format('woff2'),
       url('./fonts/Adelle Light Italic.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Adelle-Regular';
  src: url('./fonts/Adelle Normal Regular.woff2') format('woff2'),
       url('./fonts/Adelle Normal Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Adelle-Italic';
  src: url('./fonts/Adelle Regular Italic.woff2') format('woff2'),
       url('./fonts/Adelle Regular Italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Adelle-SemiBold';
  src: url('./fonts/Adelle Semi Bold Regular.woff2') format('woff2'),
       url('./fonts/Adelle Semi Bold Regular.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Adelle-SemiBoldItalic';
  src: url('./fonts/Adelle Semi Bold Italic.woff2') format('woff2'),
       url('./fonts/Adelle Semi Bold Italic.woff') format('woff');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Adelle-Bold';
  src: url('./fonts/Adelle Bold Regular.woff2') format('woff2'),
       url('./fonts/Adelle Bold Regular.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Adelle-BoldItalic';
  src: url('./fonts/Adelle Bold Italic.woff2') format('woff2'),
       url('./fonts/Adelle Bold Italic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Adelle-ExtraBold';
  src: url('./fonts/Adelle Extra Bold Regular.woff2') format('woff2'),
       url('./fonts/Adelle Extra Bold Regular.woff') format('woff');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Adelle-ExtraBoldItalic';
  src: url('./fonts/Adelle Extra Bold Italic.woff2') format('woff2'),
       url('./fonts/Adelle Extra Bold Italic.woff') format('woff');
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: 'Adelle-Heavy';
  src: url('./fonts/Adelle Heavy Regular.woff2') format('woff2'),
       url('./fonts/Adelle Heavy Regular.woff') format('woff');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Adelle-HeavyItalic';
  src: url('./fonts/Adelle Heavy Italic.woff2') format('woff2'),
       url('./fonts/Adelle Heavy Italic.woff') format('woff');
  font-style: italic;
  font-weight: 900;
}



// Brown Pro

@font-face {
  font-family: 'Brown Thin';
  src: url('./fonts/Brown Pro Thin Regular.woff2') format('woff2'),
       url('./fonts/Brown Pro Thin Regular.woff') format('woff');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Brown Thin Itali';
  src: url('./fonts/Brown Pro Thin Italic.woff2') format('woff2'),
       url('./fonts/Brown Pro Thin Italic.woff') format('woff');
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'Brown Light';
  src: url('./fonts/Brown Pro Light Regular.woff2') format('woff2'),
       url('./fonts/Brown Pro Light Regular.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Brown Light Itali';
  src: url('./fonts/Brown Pro Light Italic.woff2') format('woff2'),
       url('./fonts/Brown Pro Light Italic.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Brown Regular';
  src: url('./fonts/Brown Pro Normal Regular.woff2') format('woff2'),
       url('./fonts/Brown Pro Normal Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Brown Itali';
  src: url('./fonts/Brown Pro Normal Italic.woff2') format('woff2'),
       url('./fonts/Brown Pro Normal Italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Brown Bold';
  src: url('./fonts/Brown Pro Bold Regular.woff2') format('woff2'),
       url('./fonts/Brown Pro Bold Regular.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Brown Bold Itali';
  src: url('./fonts/Brown Pro Bold Italic.woff2') format('woff2'),
       url('./fonts/Brown Pro Bold Italic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}
